body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2efe8;
    color: #f1d27a;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 2px solid #585242;
    background-color: white;
}

nav {
    display: flex;
    gap: 12px;
    margin-right: -15px
}

nav a {
    text-decoration: none;
    color: black;
    background-color: #f2efe8;
    padding: 9px 12px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    background-color: #585242;   
    box-shadow: 0 0 6px #585242;
    color: #f2efe8;
}

.logo {
    width: 40px;
    height: 40px;
}

.nav-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f2efe8;
}

/* Content Section */
.container {
    
    top: 10px;
    width: 90%;
    height: 450px;
    margin: 10px auto;
    text-align: left;
}





.btn {
    width: 25%;
    height: 7%;
    background-color: #f2efe8;
    border-radius: 10px;
    transition: 0.3s, ease-in-out;
    
}

.btn:hover {
    background: #585242;
    box-shadow: 0 0 10px #585242;
}

.dog-image {
    width: 47.5%;
    float: right;
    margin-top: -2px;
    display: block;
}

.img-size {
    size: 50%;
    display: flex;
}