body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #585242;
    background-color: #f2efe8;
    font-size: 25px;
    font-weight: 100;
}


/* Content Section */
.container {
    
    top: 10px;
    width: 90%;
    height: 450px;
    margin: 10px auto;
    text-align: left;
}

.img-size {
    size: 50%;
    display: flex;
}

.btn {
    width: 25%;
    height: 7%;
    background-color: #f2efe8;
    border-radius: 10px;
    transition: 0.3s, ease-in-out;
    
}

.btn:hover {
    background-color: #585242;
    color:#f2efe8;
}

.dog-image {
    width: 53.25%;
    float: right;
    margin-top: -10px;
    display: block;
}

.popup {
    border: solid #585242;
    background-color: #f2efe8;
    border-radius: 25px;
    width: 350px;
    height: 400px;
    position: relative;
    left: 32%;
    bottom: 70%;
}

.backbtn {
    width: 10%;
    height: 10%;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
}

.backbtn:hover {
    background-color: #585242;
}

.formDesign {
    position: relative;
    margin-left: 30px;
    top: 50px;
    width: 80%;
    height: 25px;
    border-radius: 5px;
}

.loginBtn {
    position: relative;
    top: 80px;
    background-color: #585242;
    color: #f2efe8;
    border-radius: 5px;
    width: 50%;
    margin-left: 80px;
}

.loginBtn:hover {
    color: #585242;
    background-color: #f2efe8;
}

.forgotpword {

    position: relative;
    top: 15px;
    font-size: 40%;
    left: 32px;
    height: 10px;
    width: 200px;
    color:#585242;
}

.newAccount {
    position: relative;
    top: 75px;
    left: -2px;
    height: 10px;
    width: 500px;
    font-size: 40%;
    color:#585242;
}